[$name|Ver$]
[$title|Ver$]
[$frame|HTMLPage.tmpl$]

<p>Goldie's version information.</p>

[$apiSection| Module | goldie.ver | Module-Level Members $]
<div class="api-def">

	[$apiHead| enum string goldieVerStr $]
	<div class="api-def">
	Version number of Goldie.
	</div>

	[$apiHead| enum semitwist.util.ver.Ver goldieVer $]
	<div class="api-def">
	Version number of Goldie.
	[$link|https://bitbucket.org/Abscissa/semitwistdtools/src/goldie-v0.9/src/semitwist/util/ver.d|Ver$]
	is a type defined in [$ident|semitwist.ver$] from
	[$link|https://bitbucket.org/Abscissa/semitwistdtools|SemiTwist D Tools$]
	and is useful for comparing version numbers.
	</div>

</div>
