[$name|Future$]
[$title|Future Work$]
[$frame|HTMLPage.tmpl$]
<p>
Some ideas for future work on Goldie:
</p>
<p>
(Bold is high priority)
</p>

<ul>
    <li>[$link| http://www.dsource.org/projects/goldie/ticket/3 | #3: Lex/parse from a stream $]</li>
    <li>[$link| http://www.dsource.org/projects/goldie/ticket/8 | #8: Ability to "step through" lexing and parsing $]</li>
    <li>[$link| http://www.dsource.org/projects/goldie/ticket/9 | #9: Support for "indentation increase/decrease" virtual terminals $]</li>
    <li>[$link| http://www.dsource.org/projects/goldie/ticket/10 | #10: Write an alternative to JsonViewer from scratch in D $]</li>
    <li>[$link| http://www.dsource.org/projects/goldie/ticket/14 | #14: Support new GOLD v5.0 features $]</li>
    <li>[$link| http://www.dsource.org/projects/goldie/ticket/15 | #15: Support for custom virtual terminals $]</li>
    <li>Better API for manipulating parse trees once they're built</li>
    <li>More error checking on .cgt loading, and an optional "lenient loading" mode</li>
    <li>Enhancements to the base GOLD capabilities</li>
    <li>Optional alternate to .cgt format</li>
    <li>Support for "Composed" grammars (ex: C with preprocessor, C# with XML-doc-comments, PHP/Classic ASP with HTML)</li>
    <li>More types of parsing than just LALR(1)</li>
	<li style="font-weight: bold;">Make download/installation simpler.</li>
	<li>Allow parsing at compile-time (may require improvements to D's CTFE)</li>
	<li>Add a way to automatically map a parse tree into an AST.</li>
	<li style="font-weight: bold;">Better API for semantic errors and custom user-made errors.</li>
	<li>Consider replacing [$pageTitle|GenDocs$] with [$link|http://dlang.org/ddoc.html|DDoc$].</li>
</ul>

<h3 class="list-heading">See Also:</h3>
<ul>
<li>Goldie's [$pageTitle|Tickets$]</li>
</ul>
