[$name|MessageBoard$]
[$title|Message Board$]
[$frame|HTMLPage.tmpl$]
<p>
[$link| http://www.dsource.org/forums/viewforum.php?f=242 | Goldie's official message board $]
is kindly hosted by [$link| http://www.dsource.org/ | DSource.org $].
<br />

</p>
