[$name|SampleApps$]
[$title|GoldieLib Sample Apps$]
[$frame|HTMLPage.tmpl$]
<p>
The following sample apps are included with Goldie (including precompiled
binaries for Windows and Linux x86):
</p>
[$pageMenu$]
