[$name|CGT$]
[$title|CGT File Format$]
[$frame|HTMLPage.tmpl$]
<p>
Goldie uses the same CGT (Compiled Grammar Table) format as
[$pageLink| OtherTools#GOLD | GOLD Parser Builder $]:
</p>

<p>
Note, Goldie doesn't yet support the new [$link|http://goldparser.org/doc/egt/index.htm|EGT$]
(Enhanced Grammar Table) format
added in [$pageLink|OtherTools#GOLD|GOLD$] v5. If you use GOLD v5, you'll have
to save to the CGT format instead.
</p>

<ul>
<li>[$link| http://goldparser.org/doc/cgt/index.htm | GOLD's CGT File Format Documentation $]</li>
</ul>

See [$pageTitle| Overview $]
for information on what CGT files are used for and how they're made.