[$name|Tickets$]
[$title|Issue Tracking$]
[$frame|HTMLPage.tmpl$]
<p>
Goldie's official issue tracking system
(for all bug reports, feature requests, and patch submissions)
is kindly hosted by [$link| http://www.dsource.org/ | DSource.org $].
This is also the place to report any website issues.
</p>

<p>
Before creating a new ticket, please search the existing tickets to make sure
someone else hasn't already submitted the same thing.
</p>

<h3>Goldie Issue Tracking:</h3>
<ul>
<li>[$link| http://www.dsource.org/projects/goldie/report | Search tickets $]</li>
<li>[$link| http://www.dsource.org/projects/goldie/report/1 | View all active tickets $]</li>
<li>[$link| http://www.dsource.org/projects/goldie/newticket | Create new ticket $] - Bug reports, feature requests, and patch submissions.</li>
</ul>
