[$name|Contact$]
[$title|Contact / Support$]
[$frame|HTMLPage.tmpl$]

<p>
First of all, please check to see if your question or problem
is answered in the [$pageTitle|FAQ$].
</p>

<p>
If you would like to report a bug or submit an enhancement request, please
use the [$pageTitle|Tickets$].
</p>

<p>
If you have any other questions or comments, or if you need help, please
post to either the [$pageLink|MessageBoard|Goldie Message Board$] or the
[$link|http://digitalmars.com/NewsGroup.html|D newsgroups$].
</p>

<p>
Please use one of the contact methods above for any Goldie-related matters.
However, if you need to contact me privately, you're welcome to do so via
[$link|https://www.semitwist.com/articles/contact|my contact form$].
Sorry for not posting my email address here, but well, anti-spam measures... :/
</p>

<p>
I also offer paid priority support. Just drop me a line via my
[$link|https://www.semitwist.com/articles/contact|my contact form$].
</p>
